In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("employee.csv")
df

    ID    Name  Age  Salary  Gender Department
0    1    Amit   23   50000    Male         IT
1    2   Suraj   25   60000    Male       Sale
2    3   Kiran   41   45000  Female         IT
3    4   Anita    2   14700  Female         HR
4    5    Monu   24   15000    Male         HR
5    6   Priti   21   35000  Female       Sale
6    7   Malik   26   25000    Male         IT
7    8  Kavita   23   31000  Female         IT
8    9   Rohan   45   54300    Male         IT
9   10   Sheet   35   15230    Male       Sale
10  11   Wasim   28   18520    Male         HR
11  12  Zulkar   45   29000    Male         IT

In [3]:
df["Age"].mean()

np.float64(28.166666666666668)

In [4]:
df["Age"].median()

np.float64(25.5)

In [5]:
df[["Age","Salary"]].mean()

Age          28.166667
Salary    32729.166667
dtype: float64

In [6]:
df[["Age","Salary"]].median()

Age          25.5
Salary    30000.0
dtype: float64

In [7]:
df["Age"].std()

np.float64(12.059197420402505)

In [8]:
df[["Age","Salary"]].describe()

             Age        Salary
count  12.000000     12.000000
mean   28.166667  32729.166667
std    12.059197  16200.850403
min     2.000000  14700.000000
25%    23.000000  17697.500000
50%    25.500000  30000.000000
75%    36.500000  46250.000000
max    45.000000  60000.000000

In [9]:
df.agg(
    {
"Age":["min","max","median","std","skew"],
"Salary":["min","max","std","skew"],
    }
)

              Age        Salary
min      2.000000  14700.000000
max     45.000000  60000.000000
median  25.500000           NaN
std     12.059197  16200.850403
skew    -0.416899      0.439982

In [10]:
df[["Gender","Age"]].groupby("Gender").mean()

           Age
Gender
Female  21.750
Male    31.375

In [11]:
df.groupby("Gender").mean()
# This wont work since we are only using one column but groupby needs  multiple columns

TypeError: agg function failed [how->mean,dtype->object]

In [32]:
df.groupby("Gender")["Age"].mean()

Gender
Female    21.750
Male      31.375
Name: Age, dtype: float64

In [34]:
df.groupby("Gender")["Salary"].mean()

Gender
Female    31425.00
Male      33381.25
Name: Salary, dtype: float64

In [22]:
df.groupby(["Gender","Department"])["Salary"].mean()

Gender  Department
Female  HR            14700.0
        IT            38000.0
        Sale          35000.0
Male    HR            15000.0
        IT            39575.0
        Sale          37615.0
Name: Salary, dtype: float64

In [23]:
df.groupby(["Gender","Department"])["Salary"].count()

Gender  Department
Female  HR            1
        IT            2
        Sale          1
Male    HR            1
        IT            4
        Sale          2
Name: Salary, dtype: int64

In [24]:
df.groupby(["Gender","Department"])["Salary"].sum()

Gender  Department
Female  HR             14700.0
        IT             76000.0
        Sale           35000.0
Male    HR             15000.0
        IT            158300.0
        Sale           75230.0
Name: Salary, dtype: float64

In [25]:
df.groupby(["Department"])["Salary"].sum()

Department
HR       29700.0
IT      234300.0
Sale    110230.0
Name: Salary, dtype: float64

In [26]:
df.groupby(["Department"])["Salary"].max()

Department
HR      15000.0
IT      54300.0
Sale    60000.0
Name: Salary, dtype: float64

In [27]:
df.groupby(["Department"])["Salary"].min()

Department
HR      14700.0
IT      25000.0
Sale    15230.0
Name: Salary, dtype: float64

In [29]:
df.groupby("Department")["Department"].count()

Department
HR      3
IT      6
Sale    3
Name: Department, dtype: int64