In [114]:
import pandas as pd

df = pd.read_csv("fb.csv", index_col='Date')

df.index = pd.to_datetime(df.index, format='%d-%b-%y')
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

<h2 style="color:purple">Shift</h2>

In [115]:
df.shift(2)
# starts from 1 count below

             Price
Date
2017-08-15     NaN
2017-08-16     NaN
2017-08-17  171.00
2017-08-18  170.00
2017-08-21  166.91
2017-08-22  167.41
2017-08-23  167.78
2017-08-24  169.64
2017-08-25  168.71
2017-08-28  167.74

In [116]:
df.shift(-1)
# starts from one count above

             Price
Date
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24
2017-08-28     NaN

In [117]:
df['Prev Day Price'] = df['Price'].shift(1)
df

             Price  Prev Day Price
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41
2017-08-22  169.64          167.78
2017-08-23  168.71          169.64
2017-08-24  167.74          168.71
2017-08-25  166.32          167.74
2017-08-28  167.24          166.32

In [118]:
df['Price Change'] = df['Price'] - df['Prev Day Price']
df

             Price  Prev Day Price  Price Change
Date
2017-08-15  171.00             NaN           NaN
2017-08-16  170.00          171.00         -1.00
2017-08-17  166.91          170.00         -3.09
2017-08-18  167.41          166.91          0.50
2017-08-21  167.78          167.41          0.37
2017-08-22  169.64          167.78          1.86
2017-08-23  168.71          169.64         -0.93
2017-08-24  167.74          168.71         -0.97
2017-08-25  166.32          167.74         -1.42
2017-08-28  167.24          166.32          0.92

In [119]:
df['5 day return on investment'] =  (df['Price'] - df['Price'].shift(5))*100/df['Price'].shift(5)
df


# ((169.64 - 171)*100)/171 == -0.7953%
# 169.64 is the fifth value and in original table and 171 is the shifted value after 5 shifts

             Price  Prev Day Price  Price Change  5 day return on investment
Date
2017-08-15  171.00             NaN           NaN                         NaN
2017-08-16  170.00          171.00         -1.00                         NaN
2017-08-17  166.91          170.00         -3.09                         NaN
2017-08-18  167.41          166.91          0.50                         NaN
2017-08-21  167.78          167.41          0.37                         NaN
2017-08-22  169.64          167.78          1.86                   -0.795322
2017-08-23  168.71          169.64         -0.93                   -0.758824
2017-08-24  167.74          168.71         -0.97                    0.497274
2017-08-25  166.32          167.74         -1.42                   -0.651096
2017-08-28  167.24          166.32          0.92                   -0.321850

In [120]:
df = df[['Price']]
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

<h2 style="color:purple">tshift</h2>

In [121]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [143]:
df.index = pd.date_range(start='2017-08-15',periods=10, freq='B')
df
# If we take suppose 2017-08-22 then it follow the same sequence there will be gap in dates after 4 counts

             Price
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [123]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [124]:
df.shift(2)

             Price
2017-08-15     NaN
2017-08-16     NaN
2017-08-17  171.00
2017-08-18  170.00
2017-08-21  166.91
2017-08-22  167.41
2017-08-23  167.78
2017-08-24  169.64
2017-08-25  168.71
2017-08-28  167.74